[tools]
# dprint = "latest"

[tasks.format]
description = "Format code"
run = """
go mod tidy
go fmt ./...
"""

[tasks.build]
description = "Build the Go project"
run = """
go build -o bin/hub .
"""

[tasks.run]
description = "Build the Go project"
depends = ["build"]
run = """
./bin/hub -c config.example.json
"""

[tasks.test]
description = "run tests"
run = """
go test ./...
"""
